<h1>Router demo</h1>
<ul>
  <li>
      <button class="clear">
              <a href="/">Raíz recarga la página</a>
      </button>
  </li>
  <li>
      <nav>
            <!--routerLink inyecta el componente-->
            <a routerLink="/home" routerLinkActive="route-selected-home">Home</a>
      </nav>
  </li>
  <li>
      <nav>
        <!--routerLinkActive incorpora un clase css en el tag al clickar-->
        <a routerLink="/about" routerLinkActive="route-selected-about">About</a>
      </nav>
  </li>
  <li>
      <nav>
        <a href="/notFound">404</a>
      </nav>
  </li>
  <li>
    <nav>
        <a routerLink="/people/person-details" routerLinkActive="route-other-module">Person Details</a>
    </nav>
</li>
</ul>
<!--router-outlet busca el componente asociado la ruta que tengamos en ese momento-->
<router-outlet></router-outlet>