<ul>
    <!--| async es la manera de suscribirse a un observable desde el template-->
    <li *ngFor="let person of people">
        <!--tenemos dos tipos de formar la ruta-->
        <!--el tag queryParams nos mantiene las variables de ruta que ya esten definidos-->
        <nav>
            <a [routerLink]="['/people', person.id]">{{person.id}}</a>
            <a 
                routerLink="/people/{{person.id}}"
                [queryParams]="activeRoute.queryParams | async"
            >{{person.name}}</a>
        </nav>              
    </li>
</ul>

<!--llamamos al componente que se debe mostrar cuando se invoque la ruta hija-->
<router-outlet></router-outlet>

